body{
	font-family:'Aldrich';
	background-color:#002244;
	color:#FFFFFF;
	position:relative;
}
#div{
	background-color:#3388FF;
	text-align:center;
	height:150px;
	width:100%;
	border-radius:12px;
	font-size:30px;
	position:relative;
}
#hi_div{
	background-color:#77CCFF;
	text-align:center;
	height:30px;
	width:calc(100% - 50px);
	border-radius:12px;
	font-size:15px;
	position:absolute;
	top:75px;
	left:25px;
}
#hi_text{
	margin:0px;
	top:5px;
	position:relative;
}
button{
	position:absolute;
	transition-duration:0.4s;
	border:none;
	background-color:#0055CC;
	width:100px;
	height:40px;
	color:#FFFFFF;
	border-radius:12px;
}
#sl_text{
	top:0px;
	left:0px;
	position:absolute;
	z-index:1;
}
button:hover{
	background-color:#44AAFF;
}
#ba_next{
	top:350px;
}
#rt_mobile{
	top:100%;
}
#ma_canvas{
	left:-18px;
	top:5px;
	position:relative;
}
#ma_zoomin{
	left:600px;
	top:200px;
	position:absolute;
}
#ma_zoomout{
	left:600px;
	top:300px;
	position:absolute;
}
#rt{
	left:0%;
	top:74%;
}
#ab{
	left:calc(100% - 100px);
	top:74%;
}
#sl{
	left:calc(50% - 50px);
	top:74%;
}
#ba{
	left:calc(25% - 25px);
	top:74%;
}
#sa{
	left:calc(75% - 75px);
	top:74%;
}
#in{
	left:calc(12.5% - 12.5px);
	top:74%;
}
#ma{
	left:calc(87.5% - 87.5px);
	top:74%;
}
#sh{
	left:calc(37.5% - 37.5px);
	top:74%;
}
#sl_1{
	left:0%;
	top:30px;
}
#sl_2{
	left:calc(50% - 200px);
	top:30px;
}
#sl_3{
	left:calc(100% - 400px);
	top:30px;
}
#sl_spin{
	top:165px;
	left:307px;
}
#sh_dr1{
	position:absolute;
	top:200px;
	left:500px;
}
#sh_dr2{
	position:absolute;
	top:250px;
	left:500px;
}
#sh_dr3{
	position:absolute;
	top:300px;
	left:500px;
}
#sl_char{
	position:absolute;
	top:250px;
	left:400px;
}
#sh_b1{
	top:200px;
	left:0px;
}
#sh_b2{
	top:200px;
	left:100px;
}
#sh_b3{
	top:250px;
	left:0px;
}
#sh_b4{
	top:250px;
	left:100px;
}
#sh_b5{
	top:300px;
	left:50px;
}
#sh_b6{
	top:200px;
	left:400px;
}
#sh_b7{
	top:250px;
	left:400px;
}
#sh_b8{
	top:300px;
	left:400px;
}
#ba_ptext{
	position:absolute;
	top:150px;
	left:0px;
}
#ba_etext{
	position:absolute;
	top:150px;
	left:400px;
}
#ba_pchar{
	position:absolute;
	top:202px;
	left:0px;
}
#ba_echar{
	position:absolute;
	top:202px;
	left:400px;
}
